body {
    display:flex;
    flex-direction: column;
    margin:0;
    color:white;
    height: 100vh;
    
}

html {
    margin:0;
}

.container-2 {
    background-color: white;
    
}
.container-3 {
    background-color: #E5E7EB;
    
}
.container-4 {
    background-color: white;
   
}


.header, .footer {  
    
    min-height:50px;
    background-color: #1F2937;
    
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}


.container-1 {
    display: flex;
    flex-shrink: 0;
    background-color: #1F2937;
    padding: 0px 150px;
    align-items: center; /* Vertically align content */
    height: 100vh;
    margin-top: 0;
    margin-bottom: 0;
}

.sub-container-1-1 {
    display: flex;
    flex: 1;
}

.text-container-1-1 {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: left;
    justify-content: center; /* Vertically center text */
    padding-right: 85px; /* Add padding to separate text from image */
}

.image-container-1-1 {
    display: flex;
    flex:1;
    justify-content: center; /* Horizontally center image */
    flex-shrink: 0;


}

.top-picture {
    min-width: 500px;
    min-height: 350px;
    max-width: 100%;
    max-height: 100%;
}

.sign-up-button {
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 25px;
    align-self: start;
    font-size: 18px;

   
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0px;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}


.header-left {
    font-size:24px;
    color: #F9FAF8;
}

.header-right {
    font-size:18px;
    color:#E5E7EB;
    font-weight: bold;
}

a {
    padding-right: 65px;
    cursor:pointer;
}


.container-2 {
    display:flex;
    flex-direction:column;
    padding: 0 150px;
    margin-bottom: 50px;
    
}

.title-container-2 {
    display:flex;
    font-size: 36px;
    font-weight:bolder;
    justify-content: center;
    color:#1F2937;
    
}

.content-container-2 {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.image-container-2 {
    display:flex;
    flex:1;
    flex-direction: column;
    padding: 15px;
    color:#1F2937;
    text-align: center;
    
    
}


.image-image-container-2 {
    border: 5px solid;
    border-color:#3882F6;
    width: 100%
    
}


.container-3 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 130px 150px;
}


.quote-container-3 {
    font-size: 36px;
    font-style: light italic;
    color: #1f2937;
    text-align: start;
    overflow-wrap: break-word;
    margin-bottom: 20px;
    
    
}

.quote-name-container-3 {
    margin:0;
    align-self: flex-end;
    color:#1F2937;
    font-weight: 900;
    font-size: 24px;
    padding-right: 15px;
}

.container-4 {
    display:flex;
    padding: 120px 150px;
}


.blue-sub-container-4 {
    display:flex;
    flex:1;
    background-color:#3882F6;
    justify-content: space-around;
    align-items: center;
    padding: 30px 40px;
    border-radius: 30px;
}


.call-to-action {
    font-weight: 700;
    font-size:18px;
}

.blue-sign-up-button {
    color:white;
    background-color: #3882F6;
    border: solid white;
    padding: 10px 40px;
    border-radius: 10px;
    cursor: pointer;
   
}

.footer {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 18px 0;
}